
* {
  margin: 0;
  padding: 0;
}

/*:root {
  height: 100vh;
}*/

/*html{
  height: 100%;
}*/

body{
    background-color: black;
    background-image: url(immagini/home/bnsr05572.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0 0 0;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    margin: 0%;
    padding:0%;
   height: 100%;

}

.title{
    font-family: eunomia;
    color: white;
    src: url(font/eunomia.regular.otf);
    font-size: 70px; 
    text-align: center;
    padding-left: -40px;
    transition: 0.10s;
}

.subtitle{
    font-family: eunomia;
    padding-top: -50px;
    src: url(font/eunomia.light.otf);
    color: white;
    font-size: 40px;
    text-align: center;
}

.nounderline{
    color: white;
    background-color: transparent;
    border-style: inherit;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    transition: 0.10s;
    text-decoration: none;
}

.footer{
  display: inline-block;
  position:fixed;
  bottom:0;
  /*margin-top:50px;*/
}

.footer2{
  display: inline-block;
  position:inherit;
  bottom:0;
}

.icon{
  position: fixed;
}

.menu{
  font-size: 20px;
  margin-left: 10px;
}

:hover.nounderline{
    color: #dc6e25;
    background-color: transparent;
    cursor: grab; 
}

.container{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
   
}

/*.container-fluid {
  position: absolute;
    top: 0;
    left: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    display: flex;
    align-items: center;
    /*height:unset ;
    width: 100%;
}*/

.columns{
  display: flex;
  justify-content: center;
  font-family: 'Teko', sans-serif;
  margin: 0px;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 80%;
}

.column {
  padding: 10px;
  background-color: transparent;
  margin: 5px;
  width: 50%;
  color:white;
  display: flex;
}

.caption{
  font-size: 20px;
  text-align: left !important;
}

.button {
  display: block;
  width: 100%;
  height: 80px;
  padding: 0px;
  background-color: black;
  color: none;
  border: none;
  border-radius: none;
  color:#ff8400;
}


.carousel-container {
    position: absolute;
    text-align: center;
    color:white;
    width: 100%;
    overflow: hidden;
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease;
    
  }
  
  .carousel-item {
    flex: 0 0 100%;
    width: auto;
  }
  

  .carousel-item p{
    word-wrap: break-word;
  }

  .specifico{
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  
  .club{
    height: 350px;
    width: auto; 
    text-align: center;
    color: white;  
    
  }

  .link{
    text-decoration:underline;
    color: white;
    font-family: eunomia;
    font-size: 20px;
    transition: 0.2s;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 5px;

  }
  :hover.link{
    color:#dc6e25;
    text-decoration: solid;
  }

  :hover.carousel-next{
    color: #ff8400;
    background-color: black;
  }
  
  :hover.carousel-prev{
    color: #ff8400;
    background-color: black;
  }

  :hover.button{
    background-color: black;
  }

  :hover.bottone{
    color:#ff8400;
  }
  
  .communication, .project_management, .abstract{
    font-size: 20px;
    font-family: 'Teko',sans-serif;
    color: white;
    margin: 10px;
    
  }

  /*.project_management{
    font-size: 20px;
    font-family: 'Teko',sans-serif;
    color: white;
    margin: 10px;
  }*/

  .ptitle{
    font-size: 30px;
    font-family: 'Teko',sans-serif;
    color:white;
    margin: 15px;
    text-align:center ;
  }

  .titoletti{
    font-size: 25px;
    font-family: 'Teko', sans-serif;
    margin-top: 5px;
    text-decoration: underline;
  }

  .favicon{
    color:white;
    position: fixed;
    bottom: 0;
    right: 0;
  }

.carousel-container {
  position: relative;
}

.carousel {
  display: flex;
  /*overflow: hidden;*/
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel-item img {
  width: 35%;
  height: auto;
  padding: 40px;
  margin-bottom: 0;
}

/*.carousel-prev,
.carousel-next {
  position: absolute;
  top: 180px;
  transform: translateY(-50%);
  font-size: 24px;
  color: black;
  text-decoration: none;
}*/

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color:none;
  color:white;
  text-decoration: none;
}

.carousel-prev {
  /*bottom: 50px;*/
  left: 300px;
  color: white;
  transform: scale(1.5) ;
}

.carousel-next {
  /*bottom:50px;*/
  right: 300px;
  color: white;
  transform: scale(1.5) ;
}

.caption {
  text-align: center;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea tre colonne di larghezza uguale */
  grid-gap: 10px; /* Spazio tra le immagini */
  align-items: center;
  margin-top: 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}


